p {
	color: white;
	font-size: 20px;
	text-align: center;
}
h1 { 
	color: white;
	font-size: 70px;
	text-align: center;
}
h2 {
	color: white;
	font-size: 40px;
	text-align: center;
}
h3 {
	color: white;
	font-size: 30px;
	text-align: center;
}
body {
  background-image: url("images/Star image for website.jpg") 
}
button {
	color: white;
	font-size: 30px;
	text-align: center;
	font-family: timesnewroman;
	background-color: transparent;
	border-width: 0px;
	font-weight: 600;
	padding: 1em;
	margin: .5em;
}
#buttons {
	text-align: center;
}